<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lab.uro.kitori.samplejetpackcompose">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SampleJetpackCompose.NoActionBar">

        <activity
            android:name=".main.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sampleviewmodel.SampleViewModelActivity" />
        <activity android:name=".sampleimage.SampleImageActivity" />
        <activity android:name=".samplelist.SampleListActivity" />
        <activity android:name=".samplenavigation.SampleNavigationActivity" />
    </application>
</manifest>
